# Distribution folder
dist/

# Map files
data/
data
tags/
tags
hek/
maps

# Invader settings
six-shooter.ini

# VS Code
.vscode

# DXVK
*.log

# Other
images/design/descriptions/insurrection_maps_description
insurrection_host
micro
assets.json
env.sh
cffi.dll
lcurl.dll
discord-rpc.dll
package/balltze-plugins/insurrection.lua
package/game-maps/ui.map
tmp/